<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.template.theme.templatebread"
    xmlns:pluto="http://www.w3.org/2001/pluto.html"
    android:hasCode="false" android:versionCode="1" android:installLocation="internalOnly" android:versionName="1.0">

    <application android:icon="@drawable/icon" android:label="@string/theme_name">
              <activity android:name="com.tmobile.theme.Foo"
                  android:label="@string/theme_name"/>
    </application>

    <theme
        pluto:themeId="Templatebread"
        pluto:styleId="@style/Templatebread"
        pluto:name="@string/theme_name"
        pluto:preview="@drawable/preview"
        pluto:author="@string/author"
        pluto:copyright="@string/copyright"
        pluto:wallpaperImage="@drawable/wallpaper"
        pluto:styleName="@string/style_appearance_name"
	pluto:ringtoneName="Standard"
	pluto:ringtoneFileName="media/audio/ringtones/Standard.mp3"
	pluto:notificationRingtoneName="Subtle"
	pluto:notificationRingtoneFileName="media/audio/notifications/Subtle.mp3"
        />

</manifest>

